<!DOCTYPE html>
<html>
<head>
    <title>Login - @ViewData["Title"]</title>
    <!-- Add your custom CSS or scripts here -->
</head>
<body>
    <div class="login-container">
        @RenderBody()
    </div>
</body>
</html>
